meerkat-ml
transformers
pyarrow
tqdm
rich
faiss-cpu
aiohttp>=3.9.4 # not directly required, pinned by Snyk to avoid a vulnerability
torch>=2.2.0 # not directly required, pinned by Snyk to avoid a vulnerability